/** Icons */

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'laseratrest' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before { content: '\e804'; } /* '' */
.icon-arrow-left:before { content: '\e802'; } /* '' */
.icon-arrow-right:before { content: '\e803'; } /* '' */
.icon-arrow-up:before { content: '\e805'; } /* '' */
.icon-cancel:before { content: '\e806'; } /* '' */
.icon-comment:before { content: '\e801'; } /* '' */
.icon-facebook:before { content: '\f30e'; } /* '' */
.icon-globe:before { content: '\e800'; } /* '' */
.icon-menu:before { content: '\e908'; } /* '' */
.icon-more:before { content: '\e80a'; } /* '' */
.icon-rss:before { content: '\e80c'; } /* '' */
.icon-search:before { content: '\e80b'; } /* '' */
.icon-star-filled:before { content: '\e807'; } /* '' */
.icon-star:before { content: '\e808'; } /* '' */
.icon-twitter:before { content: '\e809'; } /* '' */
